.contact-container-wrapper {
    min-height: 100%;
    display: grid;
    place-items: center;
}

.contact-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    padding: 1em;
    border-radius: 0.8em;

    font-family: "Red Hat Display", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.contact-container input, textarea, button{
    /*margin-left: 0.4em;*/
    background-color: #eae9e9;
    border-radius: 0.3em;
    margin: 0;
    /*margin-bottom: 0.8em;*/
    border: 0;
    outline: 0;
    font-size: 1em;
}

#email {
    min-width: 98%;
}

#message {
    min-width: 98%;
    min-height: 98%;
}

#contact-submit {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    padding-inline: 0.8em;
    padding-block: 0.4em;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);

}

#contact-submit:hover {
    cursor: pointer;
}