@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Share+Tech+Mono&family=Tektur&display=swap');

/*Reset starts [https://andy-bell.co.uk/a-more-modern-css-reset/]*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/*Reset ends*/

/* Variables start here */

:root {
    --white: #ffffff;
}

/* EOL Variables */

/*header-nav styling*/
.main-nav {
    display: flex;
}

.nav-links {
    background-color: var(--white);
    align-items: center;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

    box-shadow: 0px 0px 51px -10px rgba(0, 0, 0, 0.25);

    padding-left: 1.5em;
    padding-right: 0.5em;
    padding-block: 0.5em;

    min-width: 25em;
    border-radius: 1em;
    text-decoration: none;
}

.active {
    cursor: default;
    /*padding-inline: 2em;*/
    /*padding-block: 1em;*/
    border-radius: 0.6875rem;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);
}

.nav-logo {
    padding-right: 1em;
}


.profile-icon-cont {
    background-color: #f00;
}

.nav-text {
    color: black;
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-weight: bold;
    padding-inline: 1.3em;
    padding-block: 0.8em;
}

.nav-text:link {
    text-decoration: none;
}


.profile-icon {
    max-width: 3%;
    aspect-ratio: 1;
    transform: scale(0.5);
}

/*EOF header-nav styling*/

/* SearchX styling */
.search-container {
    box-shadow: 0 0 8em -0.5em rgba(0, 0, 0, 0.25);
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0.4em 0.4em 0.4em 1em;
    border-radius: 0.7em;
    gap: 0.5em;
}

.search-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8em;
}

.search-item-box {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-text {
    color: #858282;
}

.search-option-text {
    color: #000;
}

input, option {
    border: 0;
    max-width: 8em;
    margin-right: 1em;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#guests {
    max-width: 4em;
    margin-right: 1em;
    border: 0;
}


.search-hr {
    background-color: #D9D9D9;
    margin-top: 0.5em;
    min-width: 0.1em;
    max-height: 1.5em;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.2em;
    border-radius: 0.5em;
    background: linear-gradient(233deg, #F8A3FF 12.86%, #988FFF 76.84%);
}

.search-icon:hover {
    cursor: pointer;
}

.search-icon svg {
    height: 2.5em;
    width: 2.5em;
}

/*EOF SearchX styling*/

/* Making the footer stick to the bottom */
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

/*EOF footer adjustments*/

/* footer styling below */
.footer {
    background-color: #EFE7E7;
    display: flex;
    max-width: 100%;
    padding: 2.5625rem 4.375rem;
    justify-content: center;
    align-items: flex-start;
    gap: 9.3125rem;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-title {
    color: #000;
    font-family: Red Hat Display, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.5em;
}

.footer-col {
    display: flex;
    flex-direction: row;

    color: #000;
    font-family: Red Hat Display, sans-serif;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-col a{
    text-decoration: none;
    color: #000;
}
/*EOF Footer Style*/